/* Variables globales */
:root {
    --primary-color: #4B4B4B;
    --text-color: #333;
    --bg-color: #f4f4f4;
    --white: #fff;
    --transition: 0.3s ease;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    --font-main: 'Roboto', sans-serif;
    --secondary-color: white;
    --accent-color: #f4efe2;
    --max-width: 1200px;
    --spacing-md: 2rem;
    --spacing-sm: 1rem;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.purchase-form-container {
    max-width: 400px;
    margin: auto;
    background: var(--white);
    padding: var(--spacing-md);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.purchase-form-container h4 {
    margin-bottom: var(--spacing-md);
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: var(--spacing-sm);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color var(--transition);
}

button:hover {
    background-color: #218838;
}

/* Media Queries for Responsiveness */
@media (max-width: 480px) {
    .purchase-form-container {
        padding: var(--spacing-sm);
    }

    input {
        padding: 8px;
    }

    button {
        padding: 8px;
    }
}